{
  "tabWidth": 2,
  "printWidth": 150,
  "singleAttributePerLine": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false
}
